p, li {
    color: orangered;
    text-align: center;
}
.formatText {
    white-space: pre-line;
    text-align: center;
    color: white;
    }
#facts {
    border: 5px solid black;
    background-color: white;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    color: white;
}
h1,h2 {
    color: blueviolet;
    font-size: 30px;
    text-align: center;
}
body {
    background-color: rgb(139, 214, 159);
}